---
---

<div class="container mx-auto px-4 sm:px-6 pt-12 pb-24 h-screen flex flex-col">
    <div class="text-center mb-10">
        <h1 class="text-4xl sm:text-5xl lg:text-6xl">
            <span>OUR </span>
            <span class="font-black">MISSION</span>
        </h1>
        <div class="text-xl sm:text-2xl lg:text-3xl text-gray-600 mt-2">/aʊɚ ˈmɪʃ.ən/</div>
    </div>
    <div class="flex justify-center items-center flex-grow">
        <div class="flex max-w-4xl px-2 sm:px-4">
            <div class="w-1 bg-neutral mr-4 rounded"></div>
            <div class="text-center text-[clamp(0.6rem,1.3vh,1rem)] md:text-[clamp(0.85rem,1.6vh,1.5rem)] lg:text-[clamp(0.9rem,2vh,2rem)] leading-relaxed space-y-5">
                <p>
                    We are a group of friends with a deep love for the mountains and a strong connection to nature. 
                    Being out there is more than just a hobby for us, it’s where we feel alive, grounded, and free.
                    Whenever we get the chance, we leave everyday life behind and head into the mountains. 
                </p>
                <p>
                    In summer or winter, on bikes, skis, ropes or crampons, we each move differently, but what connects us is the joy of being out there.
                    What brings us together most is our shared love for snow. We are always looking for beautiful lines, whether it’s wide open fields or steep couloirs. 
                    If the snow is good, we are already on our way.
                </p>
                <p>
                    With Peak Six, we want to share these moments with others. 
                    Not just the big lines and deep powder, but also the early mornings, the laughter, the struggles, and the quiet moments in between. 
                    The things that make a day in the mountains unforgettable.
                </p>
                <p>
                    Come along with us and celebrate the simple joys of nature and finding great lines wherever we go.
                </p>
                <p>
                    Together, we can inspire a broader audience to appreciate nature's beauty and push the boundaries of what’s possible in the mountains.
                </p>
                <p class="italic">~ Peak Six</p>

<div class="flex justify-center">
<a href="https://instagram.com/peaksix" aria-label="Instagram">
    <svg class="w-7 h-7 md:w-10 md:h-10 fill-[#262626]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
    </svg>
    </a>
</div>     
        </div>
    </div>
</div>
