@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;


/* add the code bellow ok */ 
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
  
@plugin "daisyui/theme" {
  name: "peaksix";
  default: true;
  prefersdark: true;
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0.27 0 0);
  --color-primary: oklch(0.27 0 0);
  --color-primary-content: oklch(1 0 0);
  --color-secondary: oklch(0.27 0 0);
  --color-secondary-content: oklch(1 0 0);
  --color-accent: oklch(0.27 0 0);
  --color-accent-content: oklch(1 0 0);
  --color-neutral: oklch(0.27 0 0);
  --color-neutral-content: oklch(1 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(0.27 0 0);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(0.27 0 0);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(0.27 0 0);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(0.27 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --btn-bg: transparent;
  --btn-color: oklch(27% 0 0);
  --btn-border: oklch(27% 0 0);
  --btn-outline-color: oklch(27% 0 0);
  --btn-outline-border: oklch(27% 0 0);
  --btn-hover-bg: oklch(27% 0 0);
  --btn-hover-color: oklch(100% 0 0);
}

@font-face {
  font-family: '72 Light';
  src: url('/fonts/72-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '72 Black';
  src: url('/fonts/72-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: '72 Light', sans-serif;
    font-size: 16px;
}

.font-black {
  font-family: '72 Black', sans-serif;
}



.notice {
    background-color: #fff4e6;
    border-left: 4px solid #f59f00;
    padding: 1em;
	margin-bottom: 2em;
}

.slug h3 {
  font-weight: bold;
}

.slug p img {
  width: 50%;
  transform: translateX(50%);
  border-radius: 0.375rem;
}

/* Mobile first: ab kleineren Bildschirmen größer */
@media (max-width: 640px) {
  .slug p img {
    width: 80%;
    transform: translateX(12%);
  }
}

@view-transition {
    navigation: auto; /* enabled! */
}

